/* How to use in scss files

The "family" in $font
  font-family: _font(family);

The "med" in $color
  color: _color(med);

*/

$font: (
  family: "Raleway", // default body/text font
  family-header: "Poppins", // default header font
  family-logo: "Rubik", // only for the NookAtMe title/logo
  weight: 400,
  weight-bold: 600,
  weight-logo: 900, // for the NookAtMe title/logo in Rubik font
);

$color: (
  light: #B5DCA8,
  med: #4FAF8D,
  dark: #12585C,
  grey-light: #E2E2E2, // default bg color for entire screen
  grey-med: #C4C4C4,
  bg: #ffffff, // default light bg color for all content boxes
  text: #000000, // default text color that goes on light bg
  text-light: #ffffff, // default text color that goes on med to dark bgs
)
