// mixins for common display: flex patterns

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-all-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-hor {
  display: flex;
  justify-content: center;
}

@mixin flex-center-ver-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-space-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-between-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
